<div class="flex justify-between items-center h-[60px] pl-4 pr-6">
    <button opButton
        icon="menu"
        status="secondary"
        type="button"
        (click)="toggleMenu()">
    </button>
    <a routerLink="">
        <img src="/assets/logo/logo-light-theme.svg" alt="logo-light-theme">
    </a>
    <div class="flex">
        <button opButton
            icon="search"
            status="secondary"
            type="button">
        </button>
        <button opButton
            icon="shopping_bag"
            status="secondary"
            type="button">
        </button>
    </div>
</div>